<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287419185256-q9tcekh843c3qr30e54pcv9f1kuqmkr6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287419185256-q9tcekh843c3qr30e54pcv9f1kuqmkr6</string>
	<key>API_KEY</key>
	<string>AIzaSyATPHq57N3H4UXmaSCRQ8KRL4F435nW5II</string>
	<key>GCM_SENDER_ID</key>
	<string>287419185256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aidanmiskella.Staffy</string>
	<key>PROJECT_ID</key>
	<string>myfyp-c18b5</string>
	<key>STORAGE_BUCKET</key>
	<string>myfyp-c18b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287419185256:ios:bd00a8a30852b963</string>
	<key>DATABASE_URL</key>
	<string>https://myfyp-c18b5.firebaseio.com</string>
</dict>
</plist>